.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0px 177px 0px;
}

.main-section {
  width: 582px;
  height: 1200px;
  background-color: aqua;
}

.main-section__cont-names {
  height: 30%;
  display: flex;
  justify-content: center;
}

.main-section__list-name {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  margin-bottom: 35px;
}

.square {
  width: 23px;
  height: 23px;
  background-color: blue;
  margin-right: 22px;
}

.square-1 {
  background-color: #ffecbb;
}

.square-2 {
  background-color: #e7c1f9;
}

.square-3 {
  background-color: #84f9c1;
}

.main-section__cont-houses {
  height: 70%;
}

/* Elzar house-1*/
.house-yellow {
  display: inline-block;
  width: 226px;
  height: 337px;
  top: 43px;
  left: 30px;
  background-color: #ffecbb;
  position: relative;
}
.wrapper {
  display: grid;
  grid-template-columns: 59px 59px;
  grid-template-rows: 65px 65px 65px;
  row-gap: 35px;
  column-gap: 48px;
  padding: 29px 0 0 25px;
}

.window {
  width: 59px;
  height: 65px;
  background-color: #84f9c1;
}

.window:hover {
  display: block;
  background-color: yellow;
}

.door {
  position: absolute;
  width: 57px;
  height: 81px;
  background: #84cef9;
  left: 126px;
  bottom: 0px;
}

/* Kanat house-2*/

.house-purple {
  display: inline-block;
  width: 217px;
  height: 380px;
  background-color: #e7c1f9;
  position: relative;
  top: 0px;
  left: 78px;
}

.house-purple__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  padding-top: 43px;
}

.wrapper__window {
  width: 46px;
  height: 47px;
  background: #84cef9;
}

.wrapper__window:nth-child(1) {
  margin-left: 23px;
  margin-right: 45px;
}

.wrapper__window:nth-child(3) {
  margin-left: 40px;
  margin-right: 45px;
}

.wrapper__window:nth-child(5) {
  margin-left: 32px;
  margin-right: 45px;
}

.wrapper__window:hover {
  display: block;
  background-color: yellow;
}

.wrapper__door {
  width: 59px;
  height: 98px;
  background: #84f9c1;
  position: absolute;
  left: 98px;
  bottom: 0;
}

/* Sanjar house-3*/

.house-green {
  display: inline-block;
  width: 260px;
  height: 289px;
  background: #84f9c1;
  position: relative;
  bottom: 0;
  left: 0;
  top: 167px;
}

.house-green__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 55px);
  grid-template-rows: repeat(3, 50px);
  row-gap: 26px;
  column-gap: 16px;
  padding: 44px 0 0 30px;
}

.house-green__window {
  width: 55px;
  height: 50px;
  background: #e7c1f9;
}

.house-green__door {
  position: absolute;
  left: 101px;
  bottom: 0px;
  width: 63px;
  height: 94px;
  background: #ffecbb;
}